<div class="card">
  <div class="card-header">
    Attendence
  </div>
  <div class="card-body">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
              <select #mySelect class="form-control" formControlName="category_id" (change)='onOptionsSelected()' [(ngModel)]="selectedValue">

                              <!-- <select #mySelect class="form-control" formControlName="category_id" (change)='onOptionsSelected()' -->

                <option value="">Choose Category</option>
                <option [value]="category.id" *ngFor="let category of categories;">{{category.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" name="startdate" formControlName="startdate" placeholder="dd/mm/yyyy" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <input type="button" class="form-control" name="search" value="Search" (click)="onOptionsSelected()"/>
            
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div  class="container-fluaid">
        <div class="col-lg-12">

          <div  class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Present/Absent</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attendence of filteredEmployeeList; let i = index;">
                                    <td>{{ (i + 1) }}</td>
                  <td> {{attendence.name }}                  </td>
                  <td>  
                   <select class="form-control" [(ngModel)]="filteredEmployeeList[i].present" [ngModelOptions]="{standalone: true}" >
  
                    <option selected [value]=1>Present</option>
                      <option [value]=0>Absent</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="!clicked"  class="btn btn-gradient-primary btn-icon-text">
          <i class="mdi mdi-file-check btn-icon-prepend"></i>
          Save
        </button>
      </div>
     
    </form>
  </div>
</div>