<div class="card mt-5">
  <div class="card-header">
    Advacne Payment
  </div>
  <div class="card-body">

    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" formControlName="date"/>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="category_id">
                <option value="">Choose Category</option>
                <option *ngFor="let category of categories;" value="{{ category.id }}">{{category.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Employee</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="employee_details_id">
                <option value="">Choose Employee</option>
                <option *ngFor="let employee_detail of employee_details;" value="{{ employee_detail.id }}">{{
                  employee_detail.name }}</option> 
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Advacne Payment</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="advance payment" formControlName="advance_payment" />

            </div>
          </div>
        </div>
      </div>

      <div class="text-center">

        <button type="submit" [disabled]="!formdata.valid" class="btn btn-gradient-primary btn-icon-text">
          <i class="mdi mdi-file-check btn-icon-prepend"></i>
          Make Payment
        </button>
      </div>
    </form>

  </div>
</div>