<div class="card">
    <div class="card-header">
      Employee Calculation Details
<div class="template-demo text-right">
      <a routerLink="/admin/add-calculation">
         <button type="button" class=" mb-2 btn btn-gradient-primary btn-icon-text">
        + Employee Calculation
      </button></a>
    
    </div>
    </div>
   <div class="panel-body">
        <div class="col-lg-12 row mt-5">
    
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="Search By Employee Name">
                </div>
            </div>
            
           
        
    </div>		

    </div>


    </div>
           <hr/>
<div class="container-fluaid">

    <div class="col-lg-12">

            
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                  <th scope="col">Sr No.</th>
                  
                  <th scope="col">OT</th>
                  <th scope="col">OT Rate</th>
                  <th scope="col">OT Amount</th>
                  <th scope="col">PF</th>
                  <th scope="col">HRA Amount</th>
                  <th scope="col">Conveyance</th>
                  <th scope="col">Gross Salary</th>
                  <th scope="col">ESIC</th>
                  <th scope="col">PT</th>
                  <th scope="col">Salary Advance</th>
                  <th scope="col">Total Deduction</th>
                  <th scope="col">Total Net Payable Amount</th>


             
                  <th scope="col">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let calculation of calculations| filter:searchText | paginate: { 
                  itemsPerPage: 5,
                   currentPage: page,
                   totalItems:totalLength
                  };
                   let i = index;">
                    <td>{{ (i + 1) }}</td>
                  <td>{{calculation.ot }}</td>
                  <td>{{calculation.ot_rate }}</td>
                  <td>{{calculation.ot_amount}}</td>
                  <td>{{calculation.pf}}</td>
                  <td>{{calculation.hra_amount }}</td>
                  <td>{{calculation.conveyance}}</td>
                  <td>{{calculation.gross_salary}}</td>
                  <td>{{calculation.esic}}</td>
                  <td>{{calculation.pt}}</td>
                  <td>{{calculation.salary_advance}}</td>
                  <td>{{calculation.deduction}}</td>
                  <td>{{calculation.net_payable_amount}}</td>


                 
                   <td> <span class="mr-3"><a (click)="edit(calculation.id)" routerLink="/admin/add-calculation/{{calculation.id}}" ><span id="boot-icon" class="bi bi-pencil-square bi-hover-bold"  style="color: rgb(0, 0, 0);"></span></a></span>
                
                            
                    <span><a (click)="delete(calculation.id)" routerLink="/admin/calculation/{{calculation.id}}"><span id="boot-icon" class="bi bi-trash bi-hover-bold" style="color: rgb(255, 0, 0);"></span></a></span></td>

                   
                </tr>
                  
               
                <tr>

              </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>

          </div>
          </div>
        
</div>