<div class="content-wrapper">
    <div class="row">
  
    </div>
    <div class="page-header">
      
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
         
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
            <h4 class="font-weight-normal mb-3" routerLink="/admin/add-category">Add <br/> Category
              <i class="mdi mdi-apps mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5 text-center"></h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
          <div class="card-body">
            <img src="/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
            <h4 class="font-weight-normal mb-3" routerLink="/admin/add-employee-details">Add <br/> Employee
              <i class="mdi mdi-account-multiple mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5 text-center"></h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
          <div class="card-body">
            <img src="/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
            <h4 class="font-weight-normal mb-3" routerLink="/admin/add-attendence">Add <br/> Attendance
              <i class="mdi mdi-fingerprint mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5 text-center"></h2>
          </div>
        </div>
      </div>
      
    </div>
  </div>